<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soal PPKN Kelas 7</title>
    <link rel="stylesheet" href="global/css/dashboard.css">
</head>
<body>
    <nav>
        <ul>
            <li id="poin-container">Poin: <span id="poin">0</span></li>
        </ul>
    </nav>

    <div class="container-soal">
        <h1>Soal Mata Pelajaran PPKN Kelas 9</h1>
        
        <div id="soal-container">
            <!-- Soal akan ditambahkan secara dinamis di sini -->
        </div>

        <button id="next-button" style="display: none;">Soal Berikutnya</button>
    </div>

    <script src="global/js/kelas9.js"></script>
</body>
</html>